<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Lets chat!</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>
    <p>Status: {{ status }} </p>
    {% if housekey %}
            <p>Xin chào, bạn đang ở house: {{ housekey }}</p>
    {% else %}
            <p>{{ error }}</p>
    {% endif %}

    <div id="notification">
        <div id="messages"></div>
        <img id="processed-image" alt="Processed Image">
    </div>

    <script type="text/javascript">
        const groupid = "{{ housekey }}";
        const socket = new WebSocket(
            'ws://' + window.location.host + '/ws/socket-server/' + groupid + '/'
        );

       socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log('Data:', data)
            var imgElement = document.getElementById('processed-image');
            imgElement.src = 'data:image/png;base64,' + data.img;
            var divElement = document.getElementById("messages");
            divElement.innerHTML = ${data.message}";
            // Update the HTML to display the messages
<!--            let messages = document.getElementById('messages')-->

<!--            messages.insertAdjacentHTML('beforeend', `<div>-->
<!--                                        <p>${data.message_a}</p>-->
<!--                                    </div>`)-->
       };

    </script>
</body>
</html>